<h1>Welcome to the Recipe Box</h1>

<h3>Here are your current recipes:</h3>

<% if @recipes.any?() %>
<% @recipes.each() do |recipe| %>
  <ul>
      <li><a href='/recipe/<%=recipe.id()%>'> <%=recipe.title()%></a></li>
  </ul>
    <%end%>
<%else %>
  <p> You have no recipes!</p>
<%end%>

<form action='/recipe_add/' method='post'>
  <div class='form-group'>
    <label for='title'/> Add Recipe: </label>
    <input id='title' name='title' type='text'>
  </div>
  <div class='form-group'>
    <label for='rating'> Add Rating: </label>
    <input id='rating' name='rating' type='text'>
  </div>
  <button type='submit' class='btn btn-info'>Add Recipe</button>
</form>

<% if @categories.any?() %>
<% @categories.each() do |category| %>
  <ul>
      <li><a href='/category/<%=category.id()%>'> <%=category.cat_name()%></a></li>
  </ul>
    <%end%>
<%else %>
  <p> You have no categories!</p>
<%end%>

<form action='/category_add/' method='post'>
  <label for='cat_name'>Category Name</label>
  <input id='cat_name' name='cat_name' type='text'>
  <button type='submit' class='btn btn-info'>Add Category</button>
</form>
